<%- include("templates/header") %>
    <h1>Log In</h1>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit" value="Submit">
    </form>
<%- include("templates/footer") %>